main {

    .container {
        width: 100%;
    }

    @include padding_side(18px);

    h2 {
        padding-top: 12px;
        line-height: 32px;
        font-weight: 500;
        font-size: 24px;
        color: $heading_color;
    }

    @include responsive($tablet) {
        h2:first-child {
            padding-top: 60px;
        }
    }

    @include responsive($desktop) {
        width: 980px;
        margin: 0 auto;
    }
}