// Responsive
$large_desktop: 1255px;
$desktop: 1010px;
$tablet: 648px;

// Colors
$test_color: rgba(0,0,0,0.87);
$link_color: #3367d6;
$link_color_menu: #5f6368;
$heading_color: #3c4043;
$heading_color_menu: #3c4043;

// Fonts
$font_family: 'Roboto', sans-serif;